<ion-view ng-controller="CardsCtrl" title="Discovery Feed">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
      <header-bar type="bar-transparent" title="'Help out'"></header-bar>
           <div class="row">
        <div class="col">
          <swipe-cards>
            <swipe-card on-swipe="cardSwiped()">
              <div class="list card">
                <div class="item item-avatar">
                    <img ng-src="{{card.profilePic}}">
                    <h2>{{card.title}}</h2>
                    <p>{{card.likes}}</p>
                  </div>
                  <div class="item item-body">
                    <img class="full-image cover" <img ng-src="{{card.image}}">
                    <h2 class="subdued about">
                      {{card.about}}
                    </h2>
                  </div>
                   <div class="button-bar">
              <button class="button button-balanced icon ion-checkmark-round button-outline" ng-click="goAway()"></button>
              <button class="button button-energized" ng-click="goAway()">Canvass</button>
              <button class="button button-assertive icon ion-close-round button-outline" ng-click="goAway()"></button>
            </div>
            </div>

            </swipe-card>
            <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
              <div ng-controller="CardCtrl">
                <div class="list card">
                  <div class="item item-avatar">
                    <img ng-src="{{card.profilePic}}">
                    <h2>{{card.title}}</h2>
                    <p>{{card.likes}}</p>
                  </div>

                  <div class="item item-body">
                    <img class="full-image cover" <img ng-src="{{card.image}}">
                    <h2 class="subdued about">
                      {{card.about}}
                    </h2>
                  </div>
            </div>
              <div class="button-bar">
              <button class="button button-balanced icon ion-checkmark-round button" ng-click="decide('yes', '{{card.title}}')"></button>
              <button class="button button-energized" ng-click="decide('canvass', '{{card.title}}' )">Canvass</button>
              <button class="button button-assertive icon ion-close-round button" ng-click="decide('no', '{{card.title}}')"></button>
            </div>
            </swipe-card>

          </swipe-cards>
            </div>
          </div>
</ion-view>
