<ion-view ng-controller="CardsCtrl" title="Browse">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
      <header-bar type="bar-transparent" title="'Help out'"></header-bar>
           <div class="row">
        <div class="col">
          <swipe-cards>
            <swipe-card on-swipe="cardSwiped()" id="start-card">
              Swipe down for a new card
            </swipe-card>
            <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
              <div ng-controller="CardCtrl">
                <div class="list card">
                  <div class="item item-avatar">
                    <img ng-src="{{card.profilePic}}">
                    <h2>{{card.title}}</h2>
                    <p>{{card.likes}}</p>
                  </div>

                  <div class="item item-body">
                    <img class="full-image" <img ng-src="{{card.image}}">
                    <h2 class="subdued about">
                      {{card.about}}
                    </h2>
                    <p>
                      <a href="#" class="subdued">1 Like</a>
                      <a href="#" class="subdued">5 Comments</a>
                    </p>
                  </div>

                  <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                      <i class="icon ion-thumbsup"></i>
                      Canvass
                    </a>
                    <a class="tab-item" href="#">
                      <i class="icon ion-chatbox"></i>
                      Like
                    </a>
                    <a class="tab-item" href="#">
                      <i class="icon ion-share"></i>
                      Deny
                    </a>
                  </div>
            </div>
            </swipe-card>
          </swipe-cards>
            </div>
          </div>
</ion-view>
