<ion-view title="Roomio">
  <ion-content class ="signup has-header">
    <form class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="formInfo.Name">
      </label>
      <button type="submit" ng-click="startGroup()" class="button button-block button-energized">
        Start a Group
       </button>
        <button type="submit" ng-click="joinGroup()" class="button button-block button-energized">
        Join a Group
       </button>
    </form>
  </ion-content>
</ion-view>