/* Empty. Add your own CSS if you like */
.in {border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
border-style:solid;
border-width:5px;
border-color:#4CD964;}

.out {border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
border-style:solid;
border-width:5px;
border-color:#FF3B30;}

.signup{
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.pane {
}

.wholeCard  {
  height:79%;
}

.list.card {
  height:100%;
}
.item-body{
  height:70%
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.tabs-positive{
  background-color: #1BC5ED;
  background-image: none;
  border: none;
}

.bar .title {
  color: #eee;
}

.map {
  margin-top: 10%;
}


.bar.bar-canvass {
  background-color: #1BC5ED;
  background-image: none;
  border: none;
}
.swipe-cards {
}


.about {
  text-align: center;
}

.cropImg { width: 100%; max-height: 50%; overflow: hidden; }
.cropImg img { width: 100%; }

.swipe-card {

  -webkit-transform: scale(1,1);
  width: 100%;
  top:5%;
  padding-right: 10px;
  padding-left: 0px;
  position: fixed;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-animation-fill-mode: forwards;
  height: 100%;
}

.cover{
}

.swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
.swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}
